
.pokemon-wrapper {
    width: 350px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#basic-info-border {
    border: 3px solid #767676;
    border-radius: .2em;
    margin: 1em 0;
}
#basic-info-container {
    border: 2px solid #333;
    background-color: #fafafa;
}
#pokemon-description {
    text-align: left;
    padding: 1.5em;
}

.sprite-image {    
    height: 150px;
}

hr {
    margin-top: 1.75em;
    margin-bottom: 0;
    border: 1px solid #000;
}

#basic-stats-box {
    border: 5px double #000;
    margin: 2px;
    padding: 3px;
    width: 150px;
}

#type-panel {
    position: relative;
    width: 150px;
    text-align: left;
    padding-left: 1em;
    border-right: 4px solid #000;
    border-bottom: 4px solid #000;
    border-radius: .25em;
    padding-right: .25em;
    padding-bottom: .25em;
}

.indented {
    padding-left: 2em;
}

#toggle-pokemon-screen {
    display: block;
    margin-right: auto;
    margin-left: 50%;
    border: none;
    background: white;
    outline: none;
    font-size: 20px;
}

.page-2 {
    height: 413px;
}

#status-panel {
    width: 150px;
    text-align: left;
    border-right: 4px solid #000;
    border-bottom: 4px solid #000;
    border-radius: .25em;
    padding-right: .25em;
    padding-bottom: .25em;
}