{% extends "base.html" %}
{% load static  %}

{% block content %}
    <div class="container">
        <h1 class="text-black mt-2">
            Pokedex
        </h1>
        <table class="table mt-5">
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">Name</th>
                <th scope="col">Data</th>
              </tr>
            </thead>
            <tbody>
                {% for pokemon in pokemon %}
                    <tr>
                        <td>{{ pokemon.pokedex_id }}</td>
                        <td>
                            {{ pokemon.name|title }}
                        </td>
                        <td>
                            <a href="{% url 'pokemon_details' pokemon.pk %}">Details</a>
                        </td>
                    </tr>
                {% empty %}
                    <tr><td>No Pokemon registered</td></tr>
                {% endfor %}
            </tbody>
          </table>
    </div>
{% endblock %}